<hgroup class="title">
    <h1>@ViewBag.Message</h1>
</hgroup>

<section class="contact">
    <p>
        <span class="label">Phone:</span>
        <span>+38(066)928-25-31</span>
    </p>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:ragnarek.mix@gmail.com">ragnarek.mix@gmail.com</a></span>
    </p>
        <p>
        <span class="label">Skype:</span>
        <span>ragnarekmix</span>
    </p>
        <p>
        <span class="label">LinkedIn:</span>
        <span><a href="http://www.linkedin.com/profile/view?id=230209238">Mihail Podobivsky</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Heroev Stalingrada ave 37-187<br />
        Kiev, Ukraine
    </p>
</section>
