<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <add key="DataSource" value="Xml" />
    <add key="XmlSourcePath" value="D:\dev\Global.License\src\Db\Source.xml" />
  </appSettings>

  <connectionStrings>
  </connectionStrings>
</configuration>